/* h1 is the front page header */
#front_page_header {
  display: flex;
  height: 100px;
  width: 100%;
}

#h1_logo {
  width: 100px;
  margin: 0 0 0 1em;
}

.h1_col1 {
  height: 100%;
  line-height: 100px;
  width: 50%;
  overflow: hidden;
}

.h1_col2 {
  height: 100%;
  line-height: 100px;
  width: 50%;
  text-align: right;
  padding-right: .5em;
}

/* h_ is for the home page */
#h_overlay_title {
  text-align: center;
  font-size: 2vw;
  margin: .5em 0 0 0;
  padding: 0 5% 0 5%;
  font-weight: bold;
}

.h_location {
  text-align: center;
  margin: .5em 0 0 0;
}

.h_overlay_label {
  text-align: center;
  font-size: 2vw;
  margin-top: 3%;
  padding: 0 5% 0 5%;
  font-weight: bold;
}

.h_overlay_prompt {
  text-align: center;
  margin: 2% 0 0 0;
  color: #f7901e;
  font-size: 2vw;
  font-weight: bold;

}

#h_overlay_back {
  cursor: pointer;
  display: inline-block;
  margin-left: 1em;
  color: blue;
}

.h_overlay_input {
 text-align: center;
 height: 2vw;
 line-height: 2vw;
 margin: 1% 0 3% 0;
}

.h_text {
  height: 85%;
  border-radius: .25em;
  font-size: 1.5vw;
  width: 30%;
}

#submit_zip {
  font-size: 1.8vw;
  background-color: #f7901e;
  border-radius: .25em;
  color: #ffffff;
  padding: .3em 0 .3em 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 0 38% 0 38%;
  width: 24%;
}

#h_error {
  display: inline-block;
  color: #be1e2d;
  margin-left: 1em;
}


.h_underline {
  text-decoration: underline;
}

#h_what_to_do {
  text-align: center;
  margin: .5em 0 0 0;
  color: #f7901e;
  font-size: 2vw;
  font-weight: bold;
}

#h_what_to_do2 {
  text-align: center;
  margin: .5em 0 3% 0;
  color: #f7901e;
  font-size: 3vw;
  font-weight: bold;
}

#h_list {
  display: flex;
  text-align: center;
  width: 100%;
  padding: .5vw 0 .5em 0;
  font-size: 1.4vw;
  background-color: #E6E6E6;
  margin: 0;
  border-bottom: 1px solid #f7901e;
}

.h_list_element {
  display: inline-block;
  border-right: 1px solid #f7901e;
  padding: 0 1% 0 1%;
  width: 14.28%;
  height: 7vw;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.h_list_element:hover {
  font-weight: bold;
}

#h_overlay {
  position: absolute;
  width: 40%;
  height: 17vw;
  background-color: rgba(255,255,255,.9);
  top: 50%;
  left: 65%;
  transform: translate(-35%, -50%);
  border-radius: .25em;
}

#h_license {
  text-align: center;
  background-color: #e6e7e8;
  font-size: 1.6vw;
  padding: 1em;
}

/* admin */
#adm_main {
  display: flex;
  width: 100%;
  min-height: 500px;
  border-top: 2px solid #bbbcd0;
}
#adm_options {
  width: 20%;
  border-right: 2px solid #bbbcd0;
  background-color: #e6e7e8;
}
#adm_body {
  width: 80%;
  padding-left: 1em;
  padding-right: 1em;
}

.adm_link {
  display: block;
  font-size: 1.5vw;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #bbbcd0;
  text-decoration: none;
  color: #808284;
  margin-bottom: 0em;
  padding: .5em 0 .5em 1em;
}

.adm_link:hover {
  font-weight: bold;
}
