/* h1 is the front page header */
#front_page_header {
  display: flex;
  height: 100px;
  width: 100%;
}

#h1_logo {
  width: 100px;
  margin: 0 0 0 1em;
}

.h1_col1 {
  height: 100%;
  line-height: 100px;
  width: 50%;
  overflow: hidden;
}

.h1_col2 {
  height: 100%;
  line-height: 100px;
  width: 50%;
  text-align: right;
  padding-right: .5em;
}

/* h_ is for the home page */
#h_overlay_title {
  text-align: center;
  font-size: 2vw;
  margin-top: 5%;
  padding: 0 5% 0 5%;
  font-weight: bold;
}

.h_underline {
  text-decoration: underline;
}

#h_what_to_do {
  text-align: center;
  margin: 5% 0 0 0;
  color: #f7901e;
  font-size: 2vw;
  font-weight: bold;
}

#h_what_to_do2 {
  text-align: center;
  margin: 3% 0 3% 0;
  color: #f7901e;
  font-size: 3vw;
  font-weight: bold;
}

#h_list {
  display: flex;
  text-align: center;
  width: 100%;
  padding: .5vw 0 1vw 0;
  font-size: 1.2vw;
  background-color: #E6E6E6;
  margin: 0;
}

.h_list_element {
  display: inline-block;
  border-right: 1px solid #f7901e;
  padding: 0 3% 0 3%;
  width: 10%;
  height: 7vw;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.h_list_element:hover {
  font-weight: bold;
}

#h_overlay {
  position: absolute;
  width: 40%;
  height: 17vw;
  background-color: rgba(255,255,255,.9);
  top: 50%;
  left: 65%;
  transform: translate(-35%, -50%);
  border-radius: .25em;
}

/* admin */
#adm_main {
  display: flex;
  width: 100%;
  min-height: 500px;
  border-top: 2px solid #bbbcd0;
}
#adm_options {
  width: 20%;
  border-right: 2px solid #bbbcd0;
  background-color: #e6e7e8;
}
#adm_body {
  width: 80%;
  padding-left: 1em;
  padding-right: 1em;
}

.adm_link {
  display: block;
  font-size: 1.5vw;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #bbbcd0;
  text-decoration: none;
  color: #808284;
  margin-bottom: 0em;
  padding: .5em 0 .5em 1em;
}

.adm_link:hover {
  font-weight: bold;
}
